{% extends 'base.html' %}


{% block dashboard %}

<div class="row">
    <div class="col-md-12" style="background-color: darkturquoise;height: 90px;">
        <!-- <form method="POST"> -->
            <!-- <input type="text" class="form-control mt-4" placeholder="Filename" aria-describedby="basic-addon1"
                style="width:180px"> -->
            <div class="input-group mt-4" style="width: 50%;">
                <input type="text" class="form-control filename" placeholder="filename" name="filename">
                <button class="btn btn-primary ml-2 filebutton">Create</button>
            </div>
        <!-- </form> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row mt-4">
            <!-- files goes here -->
            {% if files %}
            {% for file in files %}
            <div class="col-md-2 files" id="hash">
                <a href="#" style="text-decoration-style: solid;">
                    <i class="fa fa-file fa-5x" aria-hidden="true" style="color:black"></i>
                    <p style="color: black;" id="{{ file }}">{{ file }}</p>
                </a>
            </div>
            {% endfor %}
            {% else %}
                <p>No files</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}