{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block register %}
<div class="row"  >
    <div class="col-md-4"  style="background-image: url({{ url_for('static', filename='images/kannada-bg.png')}}); opacity: 0.4; "></div>
    <div class="col-md-4 form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name(class_="form-control") }}
            {{ form.last_name.label }}
            {{ form.last_name(class_="form-control") }}
            {{ form.email.label }}
            {{ form.email(class_="form-control") }}
            <p style="color: red;">{{ form.email.errors[0]}}</p>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {{ form.password.label}}
            {{ form.password(class_="form-control") }}
            <p style="color: red;">{{ form.password.errors[0]}}</p>
            {{ form.re_password.label}}
            {{ form.re_password(class_="form-control") }}
            <p style="color: red;">{{ form.re_password.errors[0]}}</p>
            {{ form.submit(class_="btn btn-primary mt-1") }}
        </form>
    </div>
    <div class="col-md-4" style="background-image: url({{ url_for('static', filename='images/kannada-bg.png')}}); opacity: 0.4; transform: rotateX(180deg) rotateY(180deg); " ></div>
</div>

{% endblock %}