{% extends 'base.html' %}

{% block forgotpassword %}
<div class="row">
    <script>
        $('#loader').hide();
    </script>
    <div class="col-md-4"></div>
    <div class="col-md-5 mt-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.password.label }}
            {{ form.password(class_="form-control") }}
            {{ form.re_password.label }}
            {{ form.re_password(class_="form-control") }}
            {{ form.submit(class_="btn btn-primary mt-2") }}
        </form>

    </div>
</div>
{% endblock %}