{% extends 'base.html' %}

{% block main_body %}
<div class="mx-auto w-50 p-3 text-center alert alert-primary help_alert">
    For help <kbd>ctrl</kbd> + <kbd>"</kbd> <a href="#" class="ml-2 help_hide_btn">hide</a>
</div>
<div class="mx-auto w-50 p-3 text-center alert alert-primary save_status">
    For help <kbd>ctrl</kbd> + <kbd>"</kbd> <a href="#" class="ml-2 save_hide_btn">hide</a>
</div>
<div class="row">

    <div class="col-md-2">
        <button type="button" class="btn btn-success dropdown-toggle filename_btn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ filename }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item " id='save_text' href="#">Save</a>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <!-- Example single danger button -->
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group mt-4">
                    <button type="button" class="btn btn-success dropdown-toggle mode_button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Mode
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item color_mode" id='dark' href="#">dark</a>
                        <a class="dropdown-item color_mode" id='light' href="#">light</a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group mt-4">
                    <button type="button" class="btn btn-success dropdown-toggle language_button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        ಕನ್ನಡ
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item language" id='kannada' href="#">ಕನ್ನಡ </a>
                        <a class="dropdown-item language" id='english' href="#">English</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row help mt-4">
    <div class="cl-md-8">
        <table class="table background">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Keys</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><kbd>ctrl</kbd> + <kbd>l</kbd></td>
                    <td>Clear Textarea</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><kbd>ctrl</kbd> + <kbd>3</kbd> to <kbd>8</kbd></td>
                    <td>suggestion concatination</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><kbd>ctrl</kbd> + <kbd>"</kbd></td>
                    <td>Help</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><kbd>ctrl</kbd> + <kbd>,</kbd> or <kbd>.</kbd></td>
                    <td>Translate English to Kannada</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="cl-md-4">
        <table class="table background">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Keys</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">4</th>
                    <td><kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>:</kbd></td>
                    <td>Dark/light mode toggle</td>
                </tr>

            </tbody>
        </table>


    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <textarea class="form-control background" id="englishtextbox" placeholder="Type here" rows="1"
            required></textarea>
        <div class="mb-3">
            <label for="validationTextarea" id='textAreaLabel'>ಬರಿಯುವ ಸ್ಥಳ </label>
            <textarea class="form-control background" id="textbox" placeholder="ಇಲ್ಲಿ ಬರಿಯಿರಿ " rows="10"
                required></textarea>
            <div class="invalid-feedback">
                Please enter a message in the textarea.
            </div>
        </div>

    </div>

</div>

<div class="row suggestion_row">
    {% for i in number %}
    <div class="col-md-2">
        <a href="#" class="badge badge-success suggestion mt-2" id="{{ i }}"
            style="width: 150px;height: 30px;font-size: medium;"></a>
    </div>
    {% endfor %}
</div>

{% endblock %}