{% extends 'base.html' %}

{% block main_body %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <label for="validationTextarea">Textarea</label>
            <textarea class="form-control " id="textbox" placeholder="Text here" rows="10" required></textarea>
            <div class="invalid-feedback">
                Please enter a message in the textarea.
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for i in number %}
    <div class="col-md-2">
        <a href="#" class="badge badge-success suggestion" id="{{ i }}" style="width: 150px;height: 30px;font-size: medium;">{{ num[i] }}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}